<tr>
	<td class="full-width-image">
		<a href="place">
			<img src="http://eventformprocess.com/IEB/benn/images/BENN-header.jpg" width="600" alt="" />
		</a>
	</td>
</tr>

<tr>
	<td class="one-column">
		<table width="100%">
			<tr>
				<td class="inner contents navigation">
					<p class="h1 nav">
						<a href="place">NEW INVENTORY</a> <a href="place">PRE-OWNED</a> <a href="place">FINANCE</a> <a href="place">SERVICE</a> <a href="place">DIRECTIONS</a></p>
				</td>
			</tr>
		</table>
	</td>
</tr>