<tr>
	<td class="two-column footer">
		<hr />
		<!--[if (gte mso 9)|(IE)]>
		<table width="100%">
		<tr>
		<td width="50%" valign="top">
		<![endif]-->
		<div class="column">
			<table width="100%">
				<tr>
					<td class="inner">
						<table class="contents social-icons">
							<tr>
								<td>
									<a href="place">
										<img src="http://eventformprocess.com/IEB/lokey/images/fbook-whitebg.jpg" width="280" alt="" />
									</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<!--[if (gte mso 9)|(IE)]>
		</td><td width="50%" valign="top">
		<![endif]-->
		<div class="column">
			<table width="100%">
				<tr>
					<td class="inner">
						<table class="contents social-icons">
							<tr>
								<td>
									<a href="place">
										<img src="http://eventformprocess.com/IEB/SNO/images/twitter-whitebg.jpg" width="280" alt="" />
									</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<!--[if (gte mso 9)|(IE)]>
		</td>
		</tr>
		</table>
		<![endif]-->
	</td>
</tr>