<tr>
	<td class="two-column footer">
		<!--[if (gte mso 9)|(IE)]>
		<table width="100%">
		<tr>
		<td width="50%" valign="top">
		<![endif]-->
		<div class="column">
			<table width="100%">
				<tr>
					<td class="inner">
						<table class="contents social-icons">
							<tr>
								<td>
									<a href="https://www.facebook.com/LokeyAutomotiveGroup-294043380902/?utm_source=action&utm_medium=email&utm_term=facebook&utm_campaign=LOKEY-0630">
										<img src="http://eventformprocess.com/IEB/lokey/images/fbook-whitebg.jpg" width="280" alt="" />
									</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<!--[if (gte mso 9)|(IE)]>
		</td><td width="50%" valign="top">
		<![endif]-->
		<div class="column">
			<table width="100%">
				<tr>
					<td class="inner">
						<table class="contents social-icons">
							<tr>
								<td>
									<a href="https://www.youtube.com/user/LokeyAutomotive/featured?utm_source=action&utm_medium=email&utm_term=youtube&utm_campaign=LOKEY-0630">
										<img src="http://eventformprocess.com/IEB/lokey/images/ytube-whitebg.jpg" width="280" alt="" />
									</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<!--[if (gte mso 9)|(IE)]>
		</td>
		</tr>
		</table>
		<![endif]-->
	</td>
</tr>