<!-- FOOTER --> 

                <tr>
                    <td class="one-column">
                        <table width="100%">
                            <tr>
                                <td class="inner contents">
                                    <h1>Sutherlin Nissan of Ft. Myers</h1>
                                    <h4>13985 S Tamiami Trl, Fort Myers, FL 33912 | 
                                    <a href="tel:+12392364673">239-236-4673</h4>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>


                <tr class="">
                    <td class="full-width-image">
                        <a href="http://www.sutherlinnissanftmyers.com/directions?utm_source=action&utm_medium=email&utm_term=Directions&utm_campaign=SNFM-0000"><h3 class="footer">Click here for directions</h5>
                        <img src="http://www.eventformprocess.com/HTML-email/SNFM/SNFM-0313/img/3dmap.jpeg" width="600" alt="" /></a>
                    </td>
                </tr>


                <tr class="">
                    <td class="two-column">
                        <!--[if (gte mso 9)|(IE)]>
                        <table width="100%">
                        <tr>
                        <td width="50%" valign="top">
                        <![endif]-->
                        <div class="column">
                            <table width="100%">
                                <tr>
                                    <td class="inner">
                                        <table class="contents">
                                            <tr>
                                                <td class="footer">
                                                    <a href="https://www.facebook.com/SutherlinNissanFtMyers/timeline/?utm_source=action&utm_medium=email&utm_term=Facebook&utm_campaign=SNFM-0000"><img src="http://www.eventformprocess.com/HTML-email/SNFM/SNFM-0313/img/facebook-white-bg.jpg" width="80" alt="" class="social-icon" /></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text footer">
                                                    Like us on Facebook 
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--[if (gte mso 9)|(IE)]>
                        </td><td width="50%" valign="top">
                        <![endif]-->
                        <div class="column last">
                            <table width="100%">
                                <tr>
                                    <td class="inner">
                                        <table class="contents">
                                            <tr>
                                                <td class="footer">
                                                    <a href="https://www.youtube.com/user/SutherlinNissanFL?utm_source=action&utm_medium=email&utm_term=Youtube&utm_campaign=SNFM-0000"><img src="http://www.eventformprocess.com/HTML-email/SNFM/SNFM-0313/img/youtube-white-bg.jpg" width="80" alt="" class="social-icon" /></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text footer">
                                                    Check out our Youtube Channel  
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </table>
                        <![endif]-->
                    </td>
                </tr>

