 <!-- Begin Footer Demo -->
<table class="row footer">
    <tr>
        <td>
            <table class="container">
                <tr>
                    <td class="wrapper">
                        <table class="twelve columns">
                            <tr>
                                <td class="center">
                                    <center>
                                        <h5 class="center">Click for directions</h5>
                                        <img src="/img/3dmap.jpeg">
                                    </center>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>

         <!--              <td class="wrapper last">
                        <table class="four columns">
                            <tr>
                                <td>
                                        <h5 class="">Connect with us:</h5>
                                            <a href="#"><img src="/img/facebook.png" class="social"></a>
                                            <a href="#"><img src="/img/youtube.png" class="social"></a>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
 -->

                </tr>
            </table>


                   <table class="container">
                <tr>
                    <td class="wrapper">
                        <table class="twelve columns">
                            <tr>
                                <td class="center">
                                    <center>
                                        <h5 class="center">Connect with us</h5>
                                    </center>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>

         <!--              <td class="wrapper last">
                        <table class="four columns">
                            <tr>
                                <td>
                                        <h5 class="">Connect with us:</h5>
                                            <a href="#"><img src="/img/facebook.png" class="social"></a>
                                            <a href="#"><img src="/img/youtube.png" class="social"></a>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
 -->

                </tr>
            </table>



            <table class="eight columns">
                <tr>
                    <td class="six sub-columns">

                        <a href="#"><img src="/img/facebook.png" class=" center"></a>
                  </td>
                  <td class="six sub-columns last">

                    <a href="#"><img src="/img/youtube.png" class=" center"></a>

              </td>
              <td class="expander"></td>
            </tr>
          </table>



        </td>
    </tr>
</table>
<!-- End Footer Demo -->