 <!-- Begin Footer Demo -->
<table class="row footer">
    <tr>
        <td>
            <table class="container">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td class="center">
                                    <center>
                                        <h4 class="center"><a href="https://scotch.io/tutorials/building-responsive-email-templates-with-ink">Check out the article on scotch.io</a></h4>
                                    </center>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End Footer Demo -->