        <tr>
            <td class="full-width-image">
                <a href="http://www.atlantanissan.com/?utm_source=action&utm_medium=email&utm_term=header&utm_campaign=SNMOG-0335">
                	<img src="http://eventformprocess.com/IEB/SNMOG/images/SNMOG-0335_01.jpg" width="600" alt="" />
                </a>
            </td>
        </tr>
        <tr>
            <td class="one-column">
                <table width="100%">
                    <tr>
                        <td class="contents navigation">
                            <p class="nav"><a href="http://www.atlantanissan.com/inventory?type=new&utm_source=action&utm_medium=email&utm_term=new&utm_campaign=SNMOG-0335">New Inventory</a> | <a href="http://www.atlantanissan.com/inventory?type=used&utm_source=action&utm_medium=email&utm_term=PO&utm_campaign=SNMOG-0335"><span class="pre-owned">Pre-Owned</span></a> | <a href="http://www.atlantanissan.com/finance?utm_source=action&utm_medium=email&utm_term=finance&utm_campaign=SNMOG-0335">Finance</a> | <a href="http://www.atlantanissan.com/service?utm_source=action&utm_medium=email&utm_term=service&utm_campaign=SNMOG-0335">Service</a> | <a href="http://www.atlantanissan.com/directions?utm_source=action&utm_medium=email&utm_term=directions&utm_campaign=SNMOG-0335">Directions</a></p>                            
                        </td>
                    </tr>
                </table>
            </td>
        </tr>