<tr>
	<td class="full-width-image">
		<a href="http://www.veronissan.com/?utm_source=action&utm_medium=email&utm_term=header&utm_campaign=SNVB-0154">
			<img src="http://eventformprocess.com/IEB/SNVB/images/SNVB-0153_01.jpg" width="600" alt="" />
		</a>
	</td>
</tr>

<tr>
	<td class="one-column">
		<table width="100%">
			<tr>
				<td class="inner contents navigation">
					<p class="h1 nav">
						<a href="http://www.veronissan.com/inventory?type=new&utm_source=action&utm_medium=email&utm_term=new&utm_campaign=SNVB-0154">Nuevo Inventario</a> | <a href="http://www.veronissan.com/inventory?type=used&utm_source=action&utm_medium=email&utm_term=used&utm_campaign=SNVB-0154">Desegunda Mano</a> | <a href="http://www.veronissan.com/finance?utm_source=action&utm_medium=email&utm_term=finance&utm_campaign=SNVB-0154">Finanzas</a> | <a href="http://www.veronissan.com/service?utm_source=action&utm_medium=email&utm_term=service&utm_campaign=SNVB-0154">Servicio</a> | <a href="http://www.veronissan.com/directions?utm_source=action&utm_medium=email&utm_term=directions&utm_campaign=SNVB-0154">Direcciones</a></p>
				</td>
			</tr>
		</table>
	</td>
</tr>