<tr>
	<td class="two-column footer">
		<!--[if (gte mso 9)|(IE)]>
		<table width="100%">
		<tr>
		<td width="50%" valign="top">
		<![endif]-->
		<div class="column">
			<table width="100%">
				<tr>
					<td class="inner">
						<table class="contents">
							<tr>
								<td>
									<a href="https://www.facebook.com/SutherlinNissanVero?utm_source=action&utm_medium=email&utm_term=facebook&utm_campaign=SNVB-0154">
										<img src="http://eventformprocess.com/IEB/SNVB/images/facebook.jpg" width="280" alt="" />
									</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<!--[if (gte mso 9)|(IE)]>
		</td><td width="50%" valign="top">
		<![endif]-->
		<div class="column">
			<table width="100%">
				<tr>
					<td class="inner">
						<table class="contents">
							<tr>
								<td>
									<a href="https://twitter.com/veronissan?utm_source=action&utm_medium=email&utm_term=twitter&utm_campaign=SNVB-0154">
										<img src="http://eventformprocess.com/IEB/SNVB/images/twitter.jpg" width="280" alt="" />
									</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<!--[if (gte mso 9)|(IE)]>
		</td>
		</tr>
		</table>
		<![endif]-->
	</td>
</tr>